{% include "menu.html" %}
<!--
      - MAIN SECTION
    -->
<main>
    <!--
    - #BANNER SECTION
  -->
    <section class="banner">
        <div class="banner-card jour">
            <img src="https://i.ibb.co/71BbqLL/banniere.webp" class="banner-img" alt="Banner Image">
        </div>
    </section>
    <!--
    - #MOVIES SECTION
  -->
    <section class="movies" id="section1">
        <!--
          - filter bar
        -->
        <h1 class="titre"
            style="font-size: 6rem; margin-top: 30px; font-weight: bolder; color: #da004e; text-shadow: 0 0 10px #da004e;">
            ERREUR</h1>

        <p style="font-size: 1.3rem;">Veuillez vérifier votre connexion internet et réessayer.
        </p>
    </section>
</main>
{% include "footer.html" %}
