@import url(variable.css);
@import url(reset.css);
.movie-card .card-info,
.movie-card .card-title,
.titre {
    font-weight: var(--fw-5)
}
.movie-card,
.movie-card.s {
    --scale: 0.8
}
#scrollBtn,
.visits span,
a.logo {
    font-weight: 700
}
header,
nav {
    background: hsl(222deg 25% 10% / 10%)
}
.banner,
.movies,
.navbar {
    padding: 0 var(--px)
}
.navbar-form-search,
.navbar-link {
    font-size: var(--fs-sm);
    font-weight: var(--fw-5)
}
a.logo {
    color: #da004e;
    font-size: 2em;
    text-shadow: 0 0 15px #da004e
}
.container {
    max-width: 1440px;
    margin: auto
}
.navbar {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .2s
}
.navbar-menu-btn {
    display: none;
    margin-right: 15px
}
.navbar-nav {
    display: flex
}
.navbar-nav li {
    justify-content: center;
    display: flex
}
.navbar-link {
    margin: 15px
}
.navbar-link:hover {
    color: #da004e;
    text-shadow: 0 0 8px #da004e
}
.navbar-actions {
    display: flex;
    align-items: center
}
.navbar-form {
    position: relative;
    margin-right: 15px
}
.navbar-form-search {
    background: #162032;
    width: 100%;
    padding: 12px 20px;
    border-radius: 15px;
    color: #e0e0e0
}
.navbar-form-btn {
    background: #162032;
    position: absolute;
    top: calc(50% - 10px);
    right: 10px
}
.navbar-form-btn ion-icon,
.navbar-search-btn ion-icon {
    font-size: 20px;
    color: var(--light-azure);
    --ionicon-stroke-width: 50px
}
.navbar-signin:hover span {
    color: var(--light-azure);
}
.navbar-signin ion-icon {
    font-size: 22px;
    color: var(--light-azure);
    margin-left: 5px;
    --ionicon-stroke-width: 30px;
}
.navbar-logout ion-icon {
    font-size: 22px;
    color: #da004e;
    margin-left: 5px;
    --ionicon-stroke-width: 30px;
}
.navbar-logout:hover span {
    color: #da004e;
}
.navbar-logout {
    align-items: center;
    margin-bottom: 5px;
}
a.navbar-logout {
    display: inline-flex;
    text-decoration: none;
}
.navbar-profile i {
    font-size: 20px;
}
.navbar-profile i:hover {
    color: var(--light-azure);
}
.navbar-signin {
    display: flex;
    align-items: center;
    font-size: var(--fs-sm);
}
.popup .favoris {
    filter: drop-shadow(0 0 10px yellow);
}
.sign-input p {
    color: #da004e;
    margin: 0 15;
    display: flex;
    text-align: center;
}
.popup {
    background: var(--cyan);
    border-radius: 20px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: dashed var(--azure);
}
.popup input {
    background: #162032;
    padding: 12px 20px;
    border-radius: 15px;
    color: #fff;
    display: flex;
    flex-direction: column;
    margin: 15px 15px 0 15px;
    justify-content: center;
}
.popup input::placeholder {
    color: #e0e0e0;
}
.sign-input {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: -webkit-fill-available;
}
.sign-input span,
.sign-input a {
    justify-content: center;
    transition: .2s;
    display: flex;
    margin: 0 auto 5px;
}
.sign-input a:hover {
    color: #da004e;
}
.popup button {
    padding: 5px 20px;
    background-color: var(--light-cyan);
    color: #fff;
    border-radius: 7px;
    display: flex;
    transition: .3s;
    margin: 15px;
    text-align: center;
    justify-content: center;
}
.popup button:hover {
    box-shadow: 0 0 10px var(--light-cyan);
    background-color: #fff;
    color: var(--light-cyan);
}
.popup h1 {
    justify-content: center;
    display: flex;
    margin: 15px;
    background: var(--light-cyan);
    padding: 5px;
    border-radius: 10px;
    width: -webkit-fill-available;
}
.sign-input form {
    background: var(--rich-black-fogra-30);
    width: -webkit-fill-available;
    border-radius: 15px;
    margin: 15px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile h2 {
    background: #fff;
    padding: 5px 10px;
    border-radius: 20px;
    color: var(--azure);
    border: solid 2px var(--azure);
    margin-top: -35;
    margin-bottom: 30px;
    z-index: 1;
    filter: drop-shadow(0 0 6px var(--azure));
}
.profile h2:hover+ion-icon, .profile ion-icon:hover {
    margin-top: 0px;
    filter: drop-shadow(0px 0px 5px yellow);
}
.profile ion-icon {
    color: yellow;
    font-size: 40px;
    margin-top: -15px;
    position: absolute;
}
.about p,
h3.card-title,
h6.date {
    color: #fffFFF96
}
.navbar-form-btn:hover ion-icon,
.navbar-form-search::placeholder {
    color: #e0e0e0
}
.navbar-form-close,
.navbar-search-btn {
    display: none
}
.filter-bar {
    display: flex;
    background: #162032;
    padding: 20px;
    border-radius: 20px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 30px
}
.filter-options {
    position: relative;
    background: var(--rich-black-fogra-30);
    padding: 10px;
    border-radius: 15px;
}
.filter-options input {
    display: none;
}
.filter-options label {
    position: relative;
    margin: 0 10px;
    font-size: var(--fs-sm);
    user-select: none;
    cursor: pointer;
    z-index: 10;
}
.filter-options input:checked+label,
.filter-options label:hover {
    color: var(--light-azure);
}
input~.checked {
    --width: 65px;
    --left: 10px;
    background: var(--oxford-blue-50);
    position: absolute;
    top: 5px;
    left: var(--left);
    bottom: 5px;
    width: var(--width);
    border-radius: 10px;
}
#rating-films:checked~.checked, #rating-series:checked~.checked {
    --width: 50px;
    --left: 80px;
}
#alphabetical-films:checked~.checked, #alphabetical-series:checked~.checked {
    --width: 105px;
    --left: 136px;
}
.banner-card {
    position: relative;
    height: 400px;
    max-width: 100%;
    overflow: hidden;
    border-radius: 20px;
    cursor: initial
}
.card-body.s,
.movie-card {
    border-radius: 10px
}
#scrollBtn,
.movie-card,
.movie-card.s,
form.add input#season,
form.add input#serie,
section#List li {
    cursor: pointer
}
.banner-img {
    object-position: top;
    transition: .6s
}
.banner-card:hover .banner-img {
    object-position: bottom;
    transition: .8s
}
.movies {
    margin-bottom: 0
}
#series.filter-bar {
    margin-top: 0
}
.titre {
    font-size: var(--section-heading);
    margin-bottom: 0
}
.card-body,
.list,
p.season {
    align-items: center
}
.animes-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    gap: 40px;
}
.animes-grid.s {
    display: block;
    margin-bottom: 15px
}
p.season {
    background: #da004e;
    display: inline-flex;
    padding: 5px;
    border-radius: 5px;
    justify-content: center
}
/* Styliser le select */
.season-select select {
    background: #da004e;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}
/* Modifier l'apparence de la flèche du select (peut varier selon le navigateur) */
.season-select select::-ms-expand {
    display: none;
}
.season-select select::-webkit-scrollbar {
    display: none;
}
/* Modifier l'apparence du texte sélectionné dans le select */
.season-select select option {
    background: #da004e;
}
/* Modifier l'apparence du texte déroulé dans le select (au survol) */
.season-select select option:hover {
    background: #e24f72;
}
/* Modifier l'apparence du texte sélectionné dans le select (au survol) */
.season-select select option:checked {
    background: #e24f72;
}
/* Centrer le select */
.season-select {
    display: flex;
    margin: 15px 0;
    /* Pour l'espace sous le select */
}
.about p,
form.add input {
    background-color: #131720
}
.card-body,
.footer-content,
.footer-copyright {
    display: flex;
    justify-content: space-between
}
.card-body.s {
    background: var(--cyan);
    padding: 15px;
    margin: 10px 0
}
.card-body.s:hover {
    transform: scale(1.02);
    transition: .2s;
    background-color: var(--dark-cyan)
}
button.reverse-button {
    margin-left: 10px
}
i.fas.fa-arrows-alt-v {
    padding: 5px 7px;
    background-color: #1e90ff;
    border-radius: 5px
}
button.bookmark {
    background: var(--cyan);
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: solid 2px var(--azure)
}
button.bookmark.active ion-icon {
    color: yellow;
}
button.bookmark:hover ion-icon {
    color: yellow;
    transition: .2s
}
button.bookmark ion-icon {
    color: var(--light-cyan);
    font-size: 25px;
    --ionicon-stroke-width: 40px
}
.rotate-animation {
    animation: .3s rotate
}
@keyframes rotate {
    0% {
        transform: rotate(0)
    }
    100% {
        transform: rotate(180deg)
    }
}
.movie-card .card-head {
    position: relative;
    height: 250px;
    border-radius: 15px;
    margin-bottom: 15px;
    overflow: hidden
}
.movie-card:hover .card-img {
    transform: scale(1.08)
}
.movie-card .card-overlay {
    position: absolute;
    inset: 0;
    opacity: 0;
    background: #000000CC
}
.movie-card:hover .card-overlay {
    opacity: 100%
}
.movie-card .rating {
    position: absolute;
    color: #ff0;
    top: 5px;
    right: 5px;
    padding: 6px;
    border-radius: 10px;
    transform: scale(.8);
    display: flex;
    align-items: center;
    background: var(--oxford-blue-50);
    opacity: 1
}
.movie-card:hover .card-title,
.play {
    color: var(--light-cyan)
}
.movie-card .rating span {
    color: #fff;
    font-weight: 500;
    margin-left: 5px
}
.movie-card ion-icon {
    font-size: 16px;
    display: block;
    --ionicon-stroke-width: 50px
}
.movie-card .play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(var(--scale))
}
.movie-card .play ion-icon {
    font-size: 60px;
    --ionicon-stroke-width: 20px
}
.movie-card:hover :is(.play) {
    --scale: 1
}
.movie-card .card-title {
    font-size: var(--fs-md)
}
.movie-card .card-info {
    display: flex;
    font-size: var(--fs-x-sm)
}
.movie-card .genre {
    margin-right: 8px
}
.about {
    padding: 10px;
    border-radius: 10px;
    background-color: #162032
}
.about h2 {
    margin: 10px 0;
    border: dashed 3px #131720;
    border-radius: 10px;
    padding: 5px;
    text-align: left
}
.letters {
    display: flex;
    justify-content: space-between
}
p.catalogue,
p.synopsis {
    text-align: center;
    line-height: 1.25
}
.about p {
    margin: 0 10px;
    padding: 10px;
    border-radius: 10px
}
footer {
    padding: 30px
}
.footer-content {
    align-items: flex-start;
    border-bottom: 1px solid var(--oxford-blue-50);
    padding-bottom: 80px
}
.link-heading {
    margin-bottom: 20px
}
.footer-copyright {
    align-items: center;
    flex-direction: column
}
p.copyright {
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 10px
}
.social-links {
    display: flex;
    flex-direction: row;
    margin-top: 5px
}
.social-links i {
    font-size: 1.7em;
    margin-right: .5rem;
    transition: .2s
}
.social-links i:hover {
    color: #3182ed
}
.video iframe {
    aspect-ratio: 16/9;
    width: 100%;
    border: none;
    border-radius: 15px
}
.cataContainer,
.cataContainer h2,
p.catalogue,
p.synopsis {
    margin-bottom: 30px
}
.video-select {
    padding: 5px 0;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    display: flex
}
.video-buttons {
    background-color: var(--cyan);
    padding: 5px;
    border-radius: 15px
}
.video-buttons button {
    background: var(--azure);
    padding: 7px 15px;
    margin: 5px;
    border-radius: 10px;
    transition: .2s
}
.video-buttons button:hover {
    background-color: var(--dark-cyan)
}
.synopsis {
    align-items: center;
    justify-content: center;
    display: flex
}
p.synopsis {
    margin-top: 30px;
    font-size: .875rem;
    display: flex;
    color: #fff
}
p.catalogue {
    font-size: 1rem;
    justify-content: center;
    display: flex;
    color: #fff
}
.cataContainer {
    position: relative;
    width: 0 var(--px);
    height: 0 var(--px);
    padding: 15px;
    border: dashed var(--azure);
    border-radius: 15px;
    background: #162032
}
.filter-bar#c-films,
.filter-bar#c-series {
    background: 0 0;
    border: dashed 3px #162032
}
.cataContainer button:hover {
    color: var(--light-azure);
    transition: .2s
}
.cataContainer h2 {
    margin-top: 20px;
    color: var(--azure);
    text-shadow: 0 0 10px var(--dark-cyan)
}
button.letter-button.active {
    background-color: #fff;
    color: var(--azure);
    transform: scale(1.1);
    cursor: default
}
button.letter-button {
    padding: 5px;
    border-radius: 5px;
    transition: .2s
}
button.letter-button:hover {
    background-color: #fff
}
.vertical-line {
    width: 2px;
    background-color: var(--azure);
    display: inline-block
}
.travel {
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    padding: 15px 0;
    align-items: center
}
.films,
.series {
    justify-content: flex-end
}
.visits {
    justify-content: flex-start
}
.visits span {
    text-transform: uppercase;
    display: flex;
    color: #bdbdbdde
}
div#visits {
    margin-left: 5px;
    color: #fff
}
select.options {
    color: #fff;
    padding: 5px
}
.options option {
    color: #fff;
    background-color: #162032
}
#scrollBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: 0;
    background-color: #da004e;
    box-shadow: 0 0 10px #da004e;
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}
#scrollBtn:hover,
form.add button:hover {
    color: #da004e;
    background-color: #fff;
    box-shadow: 0 0 10px #da004e
}
form.add {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background: #162032;
    margin: 80px var(--px) 0;
    border-radius: 15px;
    border: dashed var(--light-azure)
}
form.add input {
    color: #fff;
    border-radius: 8px;
    padding: 5px 5px 5px 7px;
    margin-bottom: 15px;
    margin-top: 5px
}
form.add input[type=file] {
    transition: .2s
}
form.add input[type=file]:hover {
    color: #da004e;
    background-color: #fff;
    box-shadow: 0 0 10px #da004e;
    cursor: pointer
}
form.add input[type=file]::file-selector-button {
    border-radius: 5px;
    border: none;
    color: #fff;
    cursor: pointer;
    background-color: #da004e
}
form.add button {
    background-color: #da004e;
    border-radius: 5px;
    padding: 3px;
    transition: .3s
}
section.movies#add {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-radius: 10px
}
section.movies#add a {
    background: #162032;
    padding: 7px;
    border-radius: 7px;
    margin: 5px;
}
section.movies#add a:hover {
    background: var(--dark-cyan);
    border-radius: 10px;
}
span.add-something {
    padding: 5px;
    border-radius: 5px;
    background: var(--azure);
    margin: 10px;
}
section#List li {
    padding: 3px;
    border-left: 3px solid #fff;
    color: #fff;
    margin: 0 10px 15px;
    display: inline-flex;
    transition: .2s
}
section#List li:hover {
    border-left: 3px solid #fff;
    background-color: var(--light-azure);
    border-radius: 5px
}
a.btn.btn-primary {
    background: #da004e;
    padding: 5px;
    border-radius: 5px;
    margin: 5px 0 5px 5px;
}
.navigation {
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: flex-end;
}