@media screen and (max-width:1200px) {
    header, nav {
        position: fixed;
        left: 0;
        width: 100%
    }
    .navbar, .navbar-form, .navbar-nav {
        border-bottom: 2px solid #162032
    }
    :root {
        --px: 80px
    }
    header {
        top: 0;
        overflow: hidden;
        z-index: 50
    }
    .navbar-actions {
        margin-left: auto
    }
    .navbar-form, nav {
        z-index: 100;
        display: flex
    }
    header.active {
        top: 85px
    }
    .navbar-menu-btn {
        display: block
    }
    header, nav {
        background: hsl(222deg 25% 10% / 100%)
    }
    .navbar-brand {
        margin-left: 50px
    }
    .navbar-menu-btn span {
        display: block;
        background: #e0e0e0;
        width: 25px;
        height: 2px;
        margin: 8px 8px 8px 0
    }
    .navbar-menu-btn .two {
        width: 20px
    }
    .navbar-menu-btn .three {
        width: 15px
    }
    .navbar-menu-btn.active span {
        background: var(--light-azure);
        margin-right: 0;
        margin-left: 8px;
    }
    .navbar-menu-btn.active .one {
        transform: rotate(45deg) translateY(14px)
    }
    .navbar-menu-btn.active .two {
        width: 0
    }
    .navbar-menu-btn.active .three {
        width: 25px;
        transform: rotate(-45deg) translateY(-14px)
    }
    nav {
        top: -105px;
        flex-wrap: wrap;
        flex-direction: row
    }
    .navbar-form.active, nav.active {
        top: 0
    }
    .navbar-nav {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin: 20px var(--px)
    }
    .navbar {
        height: 70px
    }
    .navbar-nav li {
        align-items: center;
        justify-content: center;
        margin-bottom: 15px
    }
    .navbar-form {
        position: absolute;
        top: 100%;
        left: var(--px);
        right: var(--px);
        height: 100%;
        background: #131720;
        margin-right: 0;
        justify-content: space-between;
        align-items: center
    }
    .navbar-form-search {
        margin-right: 40px
    }
    .navbar-form-btn {
        right: 80px
    }
    .navbar-form-close {
        display: block;
        padding-top: 4px;
        opacity: .8
    }
    .navbar-form-close:hover {
        opacity: 1
    }
    .navbar-form-close ion-icon {
        font-size: 20px;
        color: var(--light-azure)
    }
    .navbar-search-btn {
        display: block;
        margin-right: 15px
    }
    .banner {
        margin-top: 100px
    }
    .banner-card .card-title {
        font-size: 2.5em
    }
    .footer-content {
        flex-direction: column
    }
    .footer-brand {
        margin-right: 0;
        margin-bottom: 60px
    }
    .loader-wrapper img {
        width: 130px;
        height: 130px
    }
    .loader-wrapper video {
        width: 70%
    }
    .letters {
        display: block
    }
    a.letter-all {
        display: contents
    }
    .vertical-line {
        display: none
    }
}
@media screen and (max-width:1024px) {
    :root {
        --px: 60px;
        --section-heading: 37px
    }
}
@media screen and (max-width:770px) {
    :root {
        --px: 40px;
        --section-heading: 32px
    }
    .banner-card {
        height: 200px
    }
}
@media screen and (max-width:575px) {
    :root {
        --px: 20px;
        --section-heading: 27px;
        --fs-lg: 20px
    }
    .navbar-form-search {
        margin-right: 20px
    }
    .navbar-form-btn {
        right: 55px
    }
    .close-btn {
        padding: 10px 60px
    }
}
@media screen and (max-width:430px) {
    .filter-options {
        margin-top: 10px;
    }
    .filter-bar {
        flex-direction: column;
    }
}