:root {
    --rich-black-fogra-30: hsl(219, 32%, 10%);
    --rich-black-fogra-29: hsl(222, 25%, 10%);
    --oxford-blue-50: hsla(218, 39%, 14%, 0.8);
    --oxford-blue: hsl(218, 39%, 14%);
    --light-azure: hsl(214, 84%, 56%);
    --azure: hsl(211, 100%, 50%);
    --cyan: rgb(24, 40, 72);
    --dark-cyan: hsl(210deg 100% 50% / 40%);
    --light-cyan: hsl(204, 100%, 50%);
    --section-heading: 40px;
    --fs-lg: 22px;
    --fs-md: 17px;
    --fs-sm: 14px;
    --fs-x-sm: 12px;
    --fw-5: 500;
    --px: 120px
}