{% include 'menu.html' %}<title>YukiFlix | {{name}}</title>
<div class="container">
    <main>
        <section class="banner">
            <div class="banner-card"><img
                     src="{{ url_for('static', filename='img/' ~ data['movies'][name]['image_H']) }}"
                     class="banner-img"></div>
        </section>
        <section class="movies">
            <div class="filter-bar movie">
                <h2 class="titre">{{name}}</h2>
            </div><button class="bookmark"><ion-icon name="bookmark-outline"></ion-icon>Favoris</button>
            <div class="video"><iframe id="video-player" src="{{ data['movies'][name]['link_fr'] }}" allowfullscreen
                        autoplay></iframe></div>
            <div class="video-select">
                <div class="video-buttons"><button onclick="playVideo('{{ data['movies'][name]['link_fr'] }}')"
                            id="active" video-src="{{ data['movies'][name]['link_fr'] }}">VF</button><button
                            onclick="playVideo('{{ data['movies'][name]['link_vostfr'] }}')"
                            video-src="{{ data['movies'][name]['link_vostfr'] }}">VOSTFR</button></div>
            </div>
            <p class="synopsis">{{ data['movies'][name]['description'] }}</p>
        </section>
    </main>
</div>{% include 'footer.html' %}