<title>YukiFlix | Ajouter</title>{% include 'menu.html' %}
<main>
    <section class="banner">
        <div class="banner-card jour">
            <img src="https://i.ibb.co/71BbqLL/banniere.webp" class="banner-img" alt="Banner Image" />
        </div>
    </section>
    <section class="movies" id="section1">
        <div class="filter-bar">
            <h2 class="titre">Ajouter</h2>
        </div>
        <section class="movies" id="add">
            <span class="add-something">Film:</span>
            <a href="/add/movie">Nouveau Film</a>
            <span class="add-something">Série:</span>
            <a href="/add/serie">Nouvelle Série</a>
            <a href="/add/serie/new/season">Nouvelle Saison</a>
            <a href="/add/serie/new/episode">Nouvel Episode</a>
        </section>
    </section>
</main>
{% include 'footer.html' %}