<title>YukiFlix | Ajouter</title>{% include 'menu.html' %}
<form class="add" method="post" enctype="multipart/form-data">
    <h2>{{ serie }}</h2>
    <br />
    <p>Quelle Saison ?</p>
    <input type="text" id="season" name="season" placeholder="Choisir la saison pour ajouter l'épisode"
           readonly="readonly" />
    <section id="List" style="display: none">
        {% for x in seasons %}
        <li>{{x}}</li>
        {% endfor %}
    </section>
    <script type="text/javascript">
        var selectedValue = "";
        window.addEventListener("DOMContentLoaded", function () {
            var t = document.getElementById("season"),
                n = document.getElementById("List");
            t.addEventListener("click", function () {
                n.style.display = "none" === n.style.display ? "block" : "none";
            });
            for (var e = n.getElementsByTagName("li"), l = 0; l < e.length; l++)
                e[l].addEventListener("click", function () {
                    (selectedValue = this.textContent),
                        console.log(selectedValue),
                        (t.value = selectedValue),
                        (n.style.display = "none");
                });
            document.addEventListener("click", function (e) {
                t.contains(e.target) || n.contains(e.target);
            });
        });
    </script>
    <button type="submit">Suivant</button>
</form>
{% include 'footer.html' %}