<title>YukiFlix | Ajouter</title>{% include 'menu.html' %}
<form class="add" action="/add/movie/" method="post" enctype="multipart/form-data">
    <p>Nom du Film ?</p>
    <input type="text" name="name_movie" />
    <p>Image Verticale ?</p>
    <input type="file" accept=".webp" name="image_V" />
    <p>Image Horizontale ?</p>
    <input type="file" accept=".webp" name="image_H" />
    <p>VOSTFR ?</p>
    <input type="url" name="link_movie_vostfr" />
    <p>VF ?</p>
    <input type="url" name="link_movie_fr" />
    <p>Note (IMDB) ?</p>
    <input type="text" name="star" />
    <p>Description ?</p>
    <input name="description_movie" />
    <p>Mot de passe ?</p>
    <input type="password" name="password" />
    {% if error %}<p>{{error}}</p>{% endif %}
    <button type="submit">Ajouter</button>
</form>
{% include 'footer.html' %}