<title>YukiFlix | Ajouter</title>{% include 'menu.html' %}
<form class="add" action="/add/serie/" method="post" enctype="multipart/form-data">
    <p>Nom de la Série ?</p>
    <input name="name_serie" />
    <p>Image Verticale ?</p>
    <input type="file" accept=".webp" name="image_V" />
    <p>Image Horizontale ?</p>
    <input type="file" accept=".webp" name="image_H" />
    <p>Titre Episode 1 ?</p>
    <input type="text" name="tt_episode" />
    <p>VOSTFR Episode 1?</p>
    <input type="url" name="link_serie_vostfr" />
    <p>VF Episode 1?</p>
    <input type="url" name="link_serie_fr" />
    <p>Note (IMDB) ?</p>
    <input type="text" name="star" />
    <p>Description ?</p>
    <input name="description_serie" />
    <p>Mot de passe ?</p>
    <input type="password" name="password" /><button type="submit">Ajouter</button>{% if error %}
    <p>{{error}}</p>
    {% endif %}
</form>
{% include 'footer.html' %}