<title>YukiFlix | Catalogue</title>{% include "menu.html" %}
<main>
    <section class="banner">
        <div class="banner-card jour">
            <img src="https://i.ibb.co/71BbqLL/banniere.webp" class="banner-img" alt="Banner Image" />
        </div>
    </section>
    <section class="movies">
        <div class="filter-bar" id="catalogue">
            <h2 class="titre">Catalogue</h2>
        </div>
        <div class="cataContainer">
            <div class="letters">
                <a href="/catalog"><button class="letter-button" data-letter="all">Tous</button></a>
                <div class="vertical-line"></div>
                {% for letter in 'abcdefghijklmnopqrstuvwxyz' %}<a class="letter-all" href="/catalog/{{letter}}"><button
                            class="letter-button" data-letter="{{ letter|upper }}">
                        {{ letter|upper }}
                    </button></a>{% endfor %}
            </div>
            <ul class="movie-list"></ul>
        </div>
        <div class="filter-bar" id="c-series">
            <h2 class="titre">Séries</h2>
        </div>
        <div class="animes-grid" id="animes-grid-series">
            {% for serie, serie_data in data.series.items() %}
            <div class="movie-card" title="{{ serie }}">
                <a href="{{ serie_data.root }}">
                    <div class="card-head" title="{{ serie }}">
                        <img src="{{ url_for('static', filename='img/' ~ serie_data.image_V) }}" class="card-img"
                             alt="{{ serie }}" />
                        <div class="rating">
                            <ion-icon name="star"></ion-icon><span>{{ serie_data["stars"] }}</span>
                        </div>
                        <div class="card-overlay">
                            <div class="play"><ion-icon name="play-circle"></ion-icon></div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">{{ serie }}</h3>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </section>
    <section class="movies" id="section1">
        <div class="filter-bar" id="c-films">
            <h2 class="titre">Films</h2>
        </div>
        <div class="animes-grid" id="animes-grid-films">
            {% for movie in data["movies"] %}
            <div class="movie-card" title="{{ movie }}">
                <a href='{{ data["movies"][movie]["root"] }}'>
                    <div class="card-head" title="{{ movie }}">
                        <img src="{{ url_for('static', filename='img/' ~ data['movies'][movie]['image_V']) }}"
                             class="card-img" alt="{{ movie }}" />
                        <div class="rating">
                            <ion-icon name="star"></ion-icon><span>{{ data["movies"][movie]["star"] }}</span>
                        </div>
                        <div class="card-overlay">
                            <div class="play"><ion-icon name="play-circle"></ion-icon></div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">{{ movie }}</h3>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </section>
</main>
<script>
    function gtag() { dataLayer.push(arguments) } window.dataLayer = window.dataLayer || [], gtag("js", new Date), gtag("config", "G-WHJ1KH7MY2"), document.addEventListener("DOMContentLoaded", function () { var t = document.querySelectorAll(".letter-button"), e = window.location.pathname.split("/catalog/")[1], a = e ? e.toLowerCase() : ""; t.forEach(function (t) { t.getAttribute("data-letter").toLowerCase() === a ? t.classList.add("active") : t.classList.remove("active") }), !document.querySelector(".letter-button.active") && document.querySelector(".letter-button[data-letter='all']").classList.add("active") });
</script>
{% include "footer.html" %}