<title>YukiFlix - Profil</title>
{% include "menu.html" %}
<main>
    <section class="banner">
        <div class="banner-card jour">
            <img src="https://i.ibb.co/71BbqLL/banniere.webp" class="banner-img" alt="Banner Image" />
        </div>
    </section>
    <section class="movies" id="section1">
        <div class="filter-bar">
            <h2 class="titre">Profil</h2>
        </div>
        <a href="/logout" class="navbar-logout">
            <span>Logout</span>
            <ion-icon name="log-out-outline"></ion-icon>
        </a>
        <div class="popup">
            <div class="profile">
                <h2 class="user">{{ session['username'] }}</h2>
                <ion-icon name="bookmark"></ion-icon>
                <span>Favoris (bientôt)</span>
            </div>
        </div>

        <div class="filter-bar" id="c-series">
            <h2 class="titre">Séries</h2>
        </div>
    </section>
    <section class="movies">
        <div class="filter-bar" id="c-films">
            <h2 class="titre">Films</h2>
        </div>
    </section>
</main>
{% include "footer.html" %}