<title>YukiFlix - Inscription</title>{% include "menu.html" %}
<main>
    <section class="banner">
        <div class="banner-card">
            <img src="https://i.ibb.co/71BbqLL/banniere.webp" class="banner-img" alt="Banner Image" />
        </div>
    </section>
    <section class="movies" id="section2">
        <div class="filter-bar">
            <h2 class="titre">Inscription</h2>
        </div>
        <p class="synopsis">
            En vous inscrivant, vous pourrez ajouter des animés à vos favoris, vous permettant ainsi de
            sauvegarder les films ou séries que vous souhaitez regarder ultérieurement.</p>
        <div class="popup">
            <h1>S'Inscrire</h1>
            {% if error_signup %}<p>{{error_signup}}</p>{% endif %}
            <div class="sign-input">
                <form method="post" enctype="multipart/form-data">
                    <input type="text" placeholder="Username" name="username" minlength="4" maxlength="26" required />
                    <input type="password" placeholder="Password" name="password" minlength="8" maxlength="26"
                           required />
                    <button type="submit">Inscription</button>
                    <span>Déjà un compte ?</span><a href="/signin">Se connecter</a>
                </form>
            </div>
        </div>
    </section>
</main>
{% include "footer.html" %}