<title>YukiFlix | {{name}}</title>
{% include 'menu.html' %}
<main>
    <section class="banner">
        <div class="banner-card">
            <img src="{{root+data['series'][name]['image_H']}}" class="banner-img" />
        </div>
    </section>
    <section class="movies">
        <div class="filter-bar movie">
            <h2 class="titre">{{ name }}</h2>
        </div>
        <section id="episode-container">
            <p class="synopsis" id="serie">
                {{data['series'][name]["description"]}}
            </p>
            <div class="season-select">
                <div class="list">
                    <select id="season-select" onchange="onSeasonSelect()">
                        {% for season_number, season in data["series"][name]["seasons"].items() %}
                        <option value="{{ season_number }}">{{ season_number }}</option>
                        {% endfor %}
                    </select>
                    <button onclick="reverseOrder({{ season_number }})" class="reverse-button">
                        <i class="fas fa-arrows-alt-v"></i>
                    </button>
                    <button class="bookmark" data-id="{{ name }}">
                        <ion-icon name="bookmark-outline"></ion-icon>
                    </button>
                </div>
            </div>
        </section>
        {% for season_number, season in data["series"][name]["seasons"].items() %}
        <div id="s{{ season_number }}" class="animes-grid s">
            {% for episode_number, episode in season["episodes"].items() %}
            <div class="movie-card s">
                <a href="{{ season['episodes'][episode_number].root }}">
                    <div class="card-body s">
                        <h3 class="card-title">
                            Episode {{ episode_number }} - {{ episode.tt_episode }}
                        </h3>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </section>
</main>
<script>
    // Cette fonction sera appelée chaque fois que vous sélectionnez une saison dans le menu déroulant
    function onSeasonSelect() {
        const selectedSeason = document.getElementById("season-select").value;
        const animename = document.getElementById("serie").textContent; // Récupérer le nom de l'animé à partir du contenu du paragraphe avec l'ID "serie"

        const seasons = document.querySelectorAll(".animes-grid.s");

        // Masquer toutes les saisons, sauf celle sélectionnée
        seasons.forEach((season) => {
            if (season.id === "s" + selectedSeason) {
                season.style.display = "block";
            } else {
                season.style.display = "none";
            }
        });

        // Enregistrez la saison sélectionnée dans le localStorage pour la conserver lors du rechargement de la page
        localStorage.setItem(animename, selectedSeason);
    }

    // Appeler la fonction onSeasonSelect() une fois pour afficher les épisodes de la saison sélectionnée ou de la première saison par défaut.
    // Et si une saison sélectionnée a été enregistrée dans le localStorage, restaurer cette sélection.
    const animename = document.getElementById("serie").textContent; // Récupérer le nom de l'animé à partir du contenu du paragraphe avec l'ID "serie"
    const savedSeason = localStorage.getItem(animename);
    if (savedSeason) {
        document.getElementById("season-select").value = savedSeason;
    }
    onSeasonSelect(); // Afficher les épisodes de la saison sélectionnée ou de la première saison par défaut.

    function reverseOrder() {
        const selectedSeason = document.getElementById("season-select").value;
        const seasonContainer = document.getElementById("s" + selectedSeason);
        const episodes = Array.from(seasonContainer.getElementsByClassName("movie-card s"));
        const reverseButton = document.querySelector(".reverse-button i");

        reverseButton.classList.add("rotate-animation");
        reverseButton.addEventListener("animationend", function () {
            reverseButton.classList.remove("rotate-animation");
        }, { once: true });

        episodes.reverse();
        episodes.forEach((episode) => {
            seasonContainer.appendChild(episode);
        });
    }
</script>

{% include 'footer.html' %}